.player-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  margin: 20px 20px;
}

.player-card-name {
  font-size: large;
}

.player-card-owner {
  font-size: 50px;
  color: rgb(27, 0, 124);
}

.player-card-actions {
  margin-left: 10px;
}
