.player-card {
  position: relative;
  box-shadow: 0px -1px 5px #0000002a;
  padding: 6% 3%;
}

.player-card-owner {
  position: absolute;
  top: 3%;
  right:  3%;

  background-color: transparent;
  color: #ffee00;
}

.player-card-remove-button {
  position: absolute;
  bottom: 3%;
  right: 3%;

  border-radius: 50%;

  color: #b80000;

  background-color: transparent;
  border: none;

  display: none;
}

.player-card-remove-button:hover {
  background-color: transparent;
  border: none;

  color: #ff0000;
}

.player-card:hover {
  .player-card-remove-button {
    display: inline;
  }
}

.player-card-online {
  background-color: #c1ffbc;
}

.player-card-offline {
  background-color: #dddddd;
}

.player-card-name {
  margin-left: 5%;
}